* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #121212;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #e63946; 
    border-bottom: 1px solid #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #fca311; 
}

.main-content {
    flex: 1;
    background-color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2a2a2a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.admin-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.dashboard-content {
    padding: 20px;
    background-color: #333;
    color: white;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #555;
}

table th {
    background-color: #444;
}

table td {
    background-color: #555;
}

.status.success {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.detail-button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.detail-button:hover {
    background-color: #0056b3;
}
